<table>
  <tr>
    <th>Symbol</th>
    <th>Name</th>
  </tr>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.stock_symbol %></td>
      <td><%= company.name %></td>
    </tr>
  <% end %>
</table>
