<a href="/">Back to search form</a>

<table class="table table-striped">
  <tr>
    <td class="header">Symbol</td>
    <td class="header">Name</td>
  </tr>
  <% @companies.each do |company| %>
    <tr>
      <td><a href="/companies/<%= company.id %>"><%= company.stock_symbol %></a></td>
      <td><%= company.name %></td>
    </tr>
  <% end %>
</table>
