<a href="/">Back to search form</a>

<table>
  <tr>
    <th>Symbol</th>
    <th>Name</th>
  </tr>
  <% @companies.each do |company| %>
    <tr>
      <td><a href="/companies/<%= company.id %>"><%= company.stock_symbol %></a></td>
      <td><%= company.name %></td>
    </tr>
  <% end %>
</table>
