
<p>
  Enter partial name of a company or stock symbol to see its 30-business-day price history
</p>

<div>
  <form action="companies" method="post">
    <input type="hidden" name="authenticity_token">
    <input type="text" name="query" placeholder="">
    <br><br>
    <input type="submit">
  </form>
</div>

<script>
  $(document).ready(function() {
    var token = $("meta[name='csrf-token']").attr("content");
    $("input[name='authenticity_token']").attr("value", token)
  })
</script>
